<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vurbis_punchout>
            <api>
                <use_original_customer_account>0</use_original_customer_account>
                <send_full_module_list>0</send_full_module_list>
                <is_hyva_or_headless>0</is_hyva_or_headless>
            </api>
        </vurbis_punchout>
    </default>
</config>
